@tailwind base;
@tailwind components;
@tailwind utilities;

/* App globals */
html, body, #root {
	width: 100%;
	height: 100%;
	margin: 0;
}

.glass {
	@apply bg-white/70 dark:bg-white/10 dark:dark:bg-black/30 backdrop-blur-md border border-slate-300/50 dark:border-white/20 dark:dark:border-white/10 shadow-xl;
}


